.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__mXy0R {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__paPzg {
  display: flex;
  flex-direction: column;
}
.freeBox__paPzg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__paPzg > :global(.__wab_flex-container) > *,
.freeBox__paPzg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__paPzg > :global(.__wab_flex-container) > picture > img,
.freeBox__paPzg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.freeBox__jjkxa {
  font-size: 48px;
}
.freeBox__ugvKl {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__ugvKl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ugvKl > :global(.__wab_flex-container) > *,
.freeBox__ugvKl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ugvKl > :global(.__wab_flex-container) > picture > img,
.freeBox__ugvKl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__vqpae:global(.__wab_instance) {
  position: relative;
}
.bullet__jFrMx:global(.__wab_instance) {
  position: relative;
}
.bullet___3Y6UQ:global(.__wab_instance) {
  position: relative;
}
.freeBox__dpSgd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.svg__yfYfP {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
