.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__eDePp {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__pA0Q {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__pA0Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__pA0Q > :global(.__wab_flex-container) > *,
.freeBox__pA0Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pA0Q > :global(.__wab_flex-container) > picture > img,
.freeBox__pA0Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.section__fferl:global(.__wab_instance) {
  position: relative;
}
.freeBox__qxkAu {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__qxkAu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__qxkAu > :global(.__wab_flex-container) > *,
.freeBox__qxkAu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qxkAu > :global(.__wab_flex-container) > picture > img,
.freeBox__qxkAu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qxkAu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qxkAu > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qxkAu > :global(.__wab_flex-container) > *,
  .freeBox__qxkAu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qxkAu > :global(.__wab_flex-container) > picture > img,
  .freeBox__qxkAu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.freeBox__f6JYh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__f6JYh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__f6JYh > :global(.__wab_flex-container) > *,
.freeBox__f6JYh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f6JYh > :global(.__wab_flex-container) > picture > img,
.freeBox__f6JYh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f6JYh {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__sWbBt {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.freeBox__wYne4 {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__yAu0H:global(.__wab_instance) {
  position: relative;
}
.svg__xzpK {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__y3ZUy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lOgtj:global(.__wab_instance) {
  position: relative;
}
.svg__i3CBz {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__msdKm {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__r6R4N:global(.__wab_instance) {
  position: relative;
}
.svg__guil {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__p6FEl {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__oeNi9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oeNi9 {
    width: 100%;
    min-width: 0;
  }
}
.img__gkVij {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__gkVij > picture > img {
  object-fit: cover;
}
.img__gkVij > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___1IwKd {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img___1IwKd > picture > img {
  object-fit: cover;
}
.img___1IwKd > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___0L9Tw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 64px 0px;
}
.freeBox__aXtK {
  display: block;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: 50%;
  width: 100%;
  bottom: 0%;
  height: auto;
  background: rgb(5, 5, 5);
}
.freeBox__p3FZb {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___5UkPh {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.section___3CF93:global(.__wab_instance) {
  align-self: center;
}
.freeBox__wrufs {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 64px;
  min-width: 0;
}
.freeBox__wrufs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wrufs > :global(.__wab_flex-container) > *,
.freeBox__wrufs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wrufs > :global(.__wab_flex-container) > picture > img,
.freeBox__wrufs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__qCw7I:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kp7Pm {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: QqXPsvQPOq5q */;
}
.svg__saMCn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__a1P6W:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__punb {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: QqXPsvQPOq5q */;
}
.svg__ebV7N {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qECaT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__n1ZQg {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: QqXPsvQPOq5q */;
}
.svg__mBjY {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___0FzHm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___77Pvk {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: QqXPsvQPOq5q */;
}
.svg__kesXx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ufh8V:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rieiP {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: QqXPsvQPOq5q */;
}
.svg__x9Sc1 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__facFi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nyopZ {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: QqXPsvQPOq5q */;
}
.svg__oTfez {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox___6K8Vo {
  display: block;
  position: absolute;
  left: 50%;
  top: 95%;
  width: 2px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: NgmrriQGljzs */;
}
.freeBox__qTeeE {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-right: 16px;
  padding-left: 16px;
  flex-column-gap: 0px;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__mJNvH {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox__mJNvH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__mJNvH > :global(.__wab_flex-container) > *,
.freeBox__mJNvH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mJNvH > :global(.__wab_flex-container) > picture > img,
.freeBox__mJNvH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.section__gbpua:global(.__wab_instance) {
  position: relative;
}
.freeBox__iyWt {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__iyWt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__iyWt > :global(.__wab_flex-container) > *,
.freeBox__iyWt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iyWt > :global(.__wab_flex-container) > picture > img,
.freeBox__iyWt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__o2BFm {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__gEdHo {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__ahBq2 {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__sBvjq {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__mgE {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
