.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___1Bqdg {
  width: stretch;
  height: wrap;
  max-width: 1104px;
  display: flex;
  flex-direction: column;
}
.freeBox___1Bqdg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___1Bqdg > :global(.__wab_flex-container) > *,
.freeBox___1Bqdg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Bqdg > :global(.__wab_flex-container) > picture > img,
.freeBox___1Bqdg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__hnl4R {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__hnl4R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__hnl4R > :global(.__wab_flex-container) > *,
.freeBox__hnl4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hnl4R > :global(.__wab_flex-container) > picture > img,
.freeBox__hnl4R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hnl4R {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hnl4R > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hnl4R > :global(.__wab_flex-container) > *,
  .freeBox__hnl4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hnl4R > :global(.__wab_flex-container) > picture > img,
  .freeBox__hnl4R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__eQwKw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__eQwKw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__eQwKw > :global(.__wab_flex-container) > *,
.freeBox__eQwKw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eQwKw > :global(.__wab_flex-container) > picture > img,
.freeBox__eQwKw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eQwKw {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__emKof {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox___95Io8 {
  position: relative;
  text-align: left;
}
.bullet__wUEqP:global(.__wab_instance) {
  position: relative;
}
.bullet__rKjch:global(.__wab_instance) {
  position: relative;
}
.bullet__n02F:global(.__wab_instance) {
  position: relative;
}
.freeBox__ulcaF {
  position: relative;
  text-align: left;
}
.freeBox__kfWdH {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__kfWdH > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__kfWdH > :global(.__wab_flex-container) > *,
.freeBox__kfWdH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kfWdH > :global(.__wab_flex-container) > picture > img,
.freeBox__kfWdH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kfWdH {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kfWdH > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kfWdH > :global(.__wab_flex-container) > *,
  .freeBox__kfWdH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kfWdH > :global(.__wab_flex-container) > picture > img,
  .freeBox__kfWdH
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__m85K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m85K {
    width: 100%;
    min-width: 0;
  }
}
.img__jNXb {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jNXb > picture > img {
  object-fit: cover;
}
.img__jNXb > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hzZza {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__hzZza > picture > img {
  object-fit: cover;
}
.img__hzZza > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___8MZcd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___8MZcd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___8MZcd > :global(.__wab_flex-container) > *,
.freeBox___8MZcd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8MZcd > :global(.__wab_flex-container) > picture > img,
.freeBox___8MZcd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8MZcd {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8MZcd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8MZcd > :global(.__wab_flex-container) > *,
  .freeBox___8MZcd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8MZcd > :global(.__wab_flex-container) > picture > img,
  .freeBox___8MZcd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__pn22 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pn22 {
    width: 100%;
    min-width: 0;
  }
}
.img__cS2Sr {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__cS2Sr > picture > img {
  object-fit: cover;
}
.img__cS2Sr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__p3DK4 {
  position: absolute;
  object-fit: cover;
  left: 0px;
  top: 30%;
  width: 90%;
}
.img__p3DK4 > picture > img {
  object-fit: cover;
}
.img__p3DK4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yh4F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
.freeBox__yh4F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__yh4F > :global(.__wab_flex-container) > *,
.freeBox__yh4F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yh4F > :global(.__wab_flex-container) > picture > img,
.freeBox__yh4F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh4F {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__dz7F6 {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.freeBox__bOeD2 {
  position: relative;
  text-align: left;
}
.bullet__gEtGt:global(.__wab_instance) {
  position: relative;
}
.bullet__lYk10:global(.__wab_instance) {
  position: relative;
}
.bullet___3QCAk:global(.__wab_instance) {
  position: relative;
}
.freeBox__aUssx {
  position: relative;
  text-align: left;
}
.freeBox__zTcqR {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.freeBox__zTcqR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zTcqR > :global(.__wab_flex-container) > *,
.freeBox__zTcqR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zTcqR > :global(.__wab_flex-container) > picture > img,
.freeBox__zTcqR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zTcqR {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zTcqR > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zTcqR > :global(.__wab_flex-container) > *,
  .freeBox__zTcqR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zTcqR > :global(.__wab_flex-container) > picture > img,
  .freeBox__zTcqR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
